header {
    height: 40px;
    top: 0;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 2px #424242;
    background-color: #fff;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;

}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 13px;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


footer {
    background-color: rgb(236, 236, 236);
    height: 40px;
    padding-top: 8px;
    text-align: center;
    bottom: 0;
    width: 100%;
}


.jj2block {
    min-height: 100%;
}

.logo {
    padding-left: 6%;
}

#navbarNav {
    margin-left: 50%;
}

.logout {
    color: red;
}

.title-link {
    color: #6600da;
    font-size: 1.5em;
    text-decoration: none;
}
