footer {
    background-color: rgb(236, 236, 236);
    height: 40px;
    padding-top: 8px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


  body {
    font-family: "San Francisco", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
  }

.logo {
    padding-left: 6%;
}

#navbarNav {
    margin-left: 50%;
}


