{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <div >
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="title">
                            <div class="border-bottom mb-4">
                                <h4><b>{{ rent.house_type }} in {{ rent.city }}</b></h4>
                            </div>
                            <h6> <b>State:</b> {{rent.state}}</h6>
                            <h6> <b>LGA:</b> {{rent.LGA}}</h6>
                            <h6> <b>City:</b> {{rent.city}}</h6>
                            <h6> <b>Address:</b> {{rent.address}}</h6>
                            </br>
                            </br>
                            <h6> <b>Facility Details</b></h6>
                        </div>
                            <div class="row mt-3 mb-3">
                                {% for picture in pictures.data %}
                                    <img src="data:{{picture.mimetype}};base64,{{picture.data}}",  alt="Image">
                                {% endfor %}
                                <p class="card-text">{{ rent.details }}</p>
                            </div>
                        </div>


                    </div>
                </div>
        </div>
    </div>
{% endblock content %}
