<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='landing.css')}}">

    <title>Home</title>
  </head>
  <body>
    <div class="head">
      <div class="head-img">
        <div class="head-alt">
          <div>
            <div>
              <h1 class="header">Lease Your Property</h1>
              <h2 class="header">To Great Tenants. No Hassel.</h2>
            </div>
            <p class="hd-arlt">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi non
              molestias necessitatibus doloremque dolor quos accusamus facere
              vitae nam impedit.
            </p>
            <button class="head-btn">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
    <div class="body-hd">
      <h3 class="header-bd">Why Rent With WeeRent ?</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia,
        cupiditate!
      </p>
    </div>
    <div class="body-heading">
      <div class="body-alt">
        <p class="hd-bod">No Manegment Fees</p>
        <p class="hd-bod2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nam.
        </p>
      </div>
      <div class="body-alt">
        <p class="hd-bod">No Manegment Fees</p>
        <p class="hd-bod2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nam.
        </p>
      </div>
      <div class="body-alt">
        <p class="hd-bod">No Manegment Fees</p>
        <p class="hd-bod2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nam.
        </p>
      </div>
      <div class="body-alt">
        <p class="hd-bod">No Manegment Fees</p>
        <p class="hd-bod2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nam.
        </p>
      </div>
      <div class="body-alt">
        <p class="hd-bod">No Manegment Fees</p>
        <p class="hd-bod2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nam.
        </p>
      </div>
      <div class="body-alt">
        <p class="hd-bod">No Manegment Fees</p>
        <p class="hd-bod2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nam.
        </p>
      </div>
    </div>
    <section>
      <div class="body-head2">
        <div>
          <p class="hd-bodby">Our Resident Community</p>
          <p class="hd-bod3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint sed
            delectus voluptates perferendis, vero quo libero excepturi quos
            alias ad. Modi eaque asperiores facilis architecto?
          </p>
        </div>
        <div>
          <img class="body-img" src="../static/image/quote.JPG"  alt="" />
        </div>
      </div>
    </section>
    <div class="hd-foot">
      <div class="footer">
        <div>
          <p class="foot-head">Want To Talk With</p>
          <p class="foot-head">One Of Our Home Expert?</p>
          <p class="foot-alt">
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </p>
          <div>
            <input class="foot-int" type="text" />
            <button class="foot-btn">Send</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
