{% extends "layout.html" %}
{% block content %}
    <div class="col-md-4">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="border-bottom mb-4">Add Rent Listing</legend>
                <div>
                    {{ form.state.label(class="form-control-label") }}

                    {% if form.state.errors %}
                        {{ form.state(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.state.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.state(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.lga.label(class="form-control-label") }}

                    {% if form.lga.errors %}
                        {{ form.lga(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.lga.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.lga(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.city.label(class="form-control-label") }}

                    {% if form.city.errors %}
                        {{ form.city(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.city.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.city(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.address.label(class="form-control-label") }}

                    {% if form.address.errors %}
                        {{ form.address(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.address.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.address(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.type.label(class="form-control-label") }}

                    {% if form.type.errors %}
                        {{ form.type(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.type.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.details.label(class="form-control-label") }}

                    {% if form.details.errors %}
                        {{ form.details(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.details.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.details(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.image.label(class="form-control-label") }}

                    {% if form.image.errors %}
                        {{ form.image(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.image.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.image(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="mt-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}
